:root {
    --background-light: #F5F7F8;
    --background-dark: #45474B;
    --color-primary: #495E57;
    --color-accent: #F4CE14;
    --color-accent-highlight: #ffee00;
    --color-danger: #d23729;
    --color-danger-highlight: #fc3d2c;
    --radius-main: 4px;
}

* {
    margin: 0 auto;
    font-family: sans-serif;
}

body {
    background-color: var(--background-light);
    margin: 0 auto;
    margin-bottom: 150px;
}

header {
    background-color: var(--color-primary);
    color: white;
    width: 100%;
    position: fixed;
}

header p {
    margin: 0;
    padding: 15px 10px;
    font-size: large;
}

main {
    width: 900px;
    margin: auto;
    padding-top: 50px;
}

button {
    min-width: 80px;
    min-height: 30px;
    margin: 10px 0px;
    padding: 5px 20px;
    border: 0px;
    border-radius: var(--radius-main);
    transition-duration: 150ms;
}

button:hover {
    cursor: pointer;
}

.btn-primary {
    font-weight: 600;
    background-color: var(--color-accent);
}

.btn-primary:hover {
    background-color: var(--color-accent-highlight);
    box-shadow: inset 0px -4px var(--color-accent);
}

.btn-danger {
    font-weight: 600;
    background-color: var(--color-danger);
    color: white;
}

.btn-danger:hover {
    background-color: var(--color-danger-highlight);
    box-shadow: inset 0px -4px var(--color-danger);
}

.area-intro {
    padding: 10px 0px;
}

.area-intro h1 {
    margin: 10px 0;
}

.card {
    background-color: var(--background-dark);
    color: white;
    margin: 10px;
    padding: 20px;
    border: 0px;
    border-radius: var(--radius-main);
}

.card h2 {
    font-size: 1.2rem;
}

.elevated-box {
    box-shadow: 0px 2px 3px #2d2e2f;
}

input {
    border-radius: var(--radius-main);
    padding: 7px;
    margin: 10px 0px;
}

#listItemInput {
    min-width: 250px;
}

hr {
    margin: 10px 0px;
    border-color: #818387;
}